[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
hypothesis = "*"
hypothesis-csv = "*"
multimethod = "*"

[packages]
numpy = "*"
matplotlib = "*"
scipy = "*"

[requires]
python_version = "3.6"
